$primary: rgb(255, 89, 89);
$headings-font-family:        "Inconsolata";
$headings-color:              rgb(73, 73, 73);

$box-shadow:                  0 .5rem 1rem rgba(255,255,255,200);
$box-shadow-sm:               0 .125rem .25rem rgba(255,255,255,200);
$box-shadow-lg:               0 1rem 3rem rgba(255,255,255,200);
$box-shadow-inset:            inset 0 1px 2px rgba(255,255,255,200);

.slide_in_left {
	-webkit-animation: slide_in_left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide_in_left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide_in_left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide_in_left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }


@import "../node_modules/bootstrap/scss/bootstrap";

html{
  width:100%;
  height:100%;
}

body {
    width:100%;
    height:100%;
    background: linear-gradient(-45deg, black, rgb(32, 20, 20), #250e0e, rgb(59, 1, 1));
    background-size: 400% 500%;
    animation: gradient 10s ease infinite;
}

.header{
    background: linear-gradient(-45deg, rgb(71, 32, 32), rgb(61, 20, 20), #3a0909, rgb(85, 1, 1));
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

.solid_divider {
    border-top: 10px solid #bbb;
}

.info_text {
    color: rgb(255, 255, 255);
}

.button_row:hover{
    transform: scale(1.1);
  }

