$primary: rgb(255, 89, 89);
$headings-font-family:        "Impact";
$font-family-base:            'Lucida Sans';
$headings-color:              rgb(189, 189, 189);

$box-shadow:                  0 .5rem 1rem rgba(255,255,255,200);
$box-shadow-sm:               0 .125rem .25rem rgba(255,255,255,200);
$box-shadow-lg:               0 1rem 3rem rgba(255,255,255,200);
$box-shadow-inset:            inset 0 1px 2px rgba(255,255,255,200);

//=========================ROTATING COLOUR BACKGROUND AND HEADER==============================

body {
  width:100%;
  height:100%;
  background: linear-gradient(-45deg, rgb(20, 20, 20), rgb(22, 13, 13), #110707, rgb(22, 3, 3));
  background-size: 400% 500%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;

}

.header{
background: linear-gradient(-45deg, rgb(71, 32, 32), rgb(61, 20, 20), #3a0909, rgb(85, 1, 1));
background-size: 400% 400%;
-webkit-animation: Gradient 5s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;
}

@-webkit-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes Gradient { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
//===============================================================================================

//=========================SLIDE IN ELEMENTS==============================

// Note that whenever these classes are used, the class "animation_wrapper" must be added to the parent component 
.slide_in_right {
	-webkit-animation: slide_in_right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide_in_right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide_in_left {
	-webkit-animation: slide_in_left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide_in_left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide_in_left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide_in_left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide_in_right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide_in_right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
//=====================================================================================


//Import the rest of Bootstrap functionality. The code written above is there in order to overwrite some Bootstrap functionality.
@import "../node_modules/bootstrap/scss/bootstrap";

//================== SWITCH BETWEEN MOBILE AND DESKTOP HEADER ===================
@media screen and (min-width: 800px) {
  .for_mobile {
    display: none;
  } 

  .main_page_image {
    display: block; 
    width: 80%;
    margin-left: auto; 
    margin-right: auto;
  }
}

@media screen and (max-width: 800px) {
  .for_desktop {
    display: none;
  } 

  .main_page_image {
    width: 100%;
  }
  
}
//===============================================================================

html{
  width:100%;
  height:100%;
}

.solid_divider {
    border-top: 10px solid #bbb;
}

.info_text {
    color: rgb(255, 255, 255);
}

.button_row:hover{
    transform: scale(1.1);
  }

